{% extends "_layout" %}

{% set title = category.title %}
{% set comicsEntries = craft.entries({
  section: "comics",
  relatedTo: category,
  with: [
    "comicImages",
  ]
}) %}
{% if category.seoTitle %}{% set seoTitle = category.seoTitle %}{% endif %}
{% if category.seoDescription %}{% set seoDescription = category.seoDescription %}{% endif %}
{% if category.seoImage|length %}{% set seoImage = category.seoImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="grid spaced">
    <div class="col-md-1-4 sidebar -padding-top">
      <div class="stickme">
        <ul class="wide-buttons">
          {# <li {{ category is not defined ? ' class="active"' : '' }}><a href="/comics/">All</a></li> #}
        {% for comicType in craft.categories.group('comicType').all() %}
          <li{{ category is defined and category.slug == comicType.slug ? ' class="active"' : '' }}><a href="{{ comicType.getUrl() }}">{{ comicType.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-3-4 main">
      <h1>{{ title }}</h1>
      {% include "comics/_list" with { comicsEntries: comicsEntries } %}
    </div>
  </div>

  {% endcache %}
{% endblock %}
