{% extends "_layout" %}

{% set entry = craft.entries.section('comicsIndex').one() %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% set comicTypes = craft.categories({
  group: 'comicTypes',
  with: [
    "comicImages",
  ]
}) %}

{% block content %}
  {% cache unless currentUser %}

  <div class="grid spaced">
    <div class="col-md-1-4 sidebar">
      <div class="stickme">
        <ul class="comic-type-nav">
          {# <li {{ category is not defined ? ' class="active"' : '' }}><a href="/comics/">All</a></li> #}
        {% for comicType in craft.categories.group('comicType').all() %}
          <li{{ category is defined and category.slug == comicType.slug ? ' class="active"' : '' }}><a href="{{ comicType.getUrl() }}">{{ comicType.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-3-4 main">
      {% for comicType in craft.categories.group('comicType').all() %}
        <div class="comic-type">
          {% set comicsEntries = craft.entries({
            section: "comics",
            relatedTo: comicType,
            with: [
              "comicImages",
            ]
          }) %}
          <h1>{{ comicType.title }}</h1>
          {% include "comics/_list" with { comicsEntries: comicsEntries } %}
        </div>
      {% endfor %}
    </div>
  </div>

  {% endcache %}
{% endblock %}
