{% extends "_layout" %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}
{% set totalNumberOfPages = 0 %}

{% block content %}
  {% cache unless currentUser %}

  <h1>Bibliography</h1>

  {% if entry.body %}
    <div class="body user-content">
      {{ entry.body }}
    </div>
  {% endif %}

  <div class="bibliography user-content">
    <table class="link-table">
      <thead>
        <tr>
          <th class="title">Title</th>
          <th>Release Date</th>
          <th># Pages</th>
          <th>Anthology / Publisher</th>
        </tr>
      </thead>
      <tbody>
        {% for row in entry.bibliography.all() %}
          <tr>
            <td class="title">{{ row.bibliographyTitle }}</td>
            <td>{{ row.releaseDate }}</td>
            <td>{{ row.numberOfPages }}</td>
            <td>{{ row.anthologyPublisher }}</td>
          </tr>
          {% set totalNumberOfPages = totalNumberOfPages + row.numberOfPages %}
        {% endfor %}
        <tr class="summary">
          <td colspan="2">TOTAL NUMBER OF PAGES OF COMICS DRAWN THUS FAR:</td>
          <td>{{ totalNumberOfPages|number_format }}</td>
          <td>(does NOT include duplicate pages that were reprinted in collections, or non-comics pages!)</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% endcache %}
{% endblock %}
