{% extends "_layout" %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  {% if entry.body %}
    <div class="body user-content">
      {{ entry.body }}
    </div>
  {% endif %}

  <ul class="link-grid grid spaced">
    {% for link in entry.linkBlocks.with([ 'image' ]).all() %}
      {% set thumbnailImage = link.image[0] ?? null %}
      <li class="col-md-1-2">
        <div class="grid spaced">
          {% if thumbnailImage %}
          <figure class="col-1-4">
            <a href="{{ link.linkUrl }}"><img src="{{ thumbnailImage.getUrl() }}" alt="{{ thumbnailImage.title }}"></a>
          </figure>
          {% endif %}
          <div class="info col-3-4 user-content">
            <h3><a href="{{ link.linkUrl }}">{{ link.linkTitle }}</a></h3>
            {{ link.description }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="social-links">
    <ul>
      {% for socialLink in entry.socialLinks.all() %}
        {% set socialImage = socialLink.image.one() %}
        <li>
          <a href="{{ socialLink.socialUrl }}"><img src="{{ socialImage.getUrl() }}" title="{{ socialImage.title }}"></a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% endcache %}
{% endblock %}
