<div class="block-images user-content {{ block.size }}">
  <div class="{{ block.images|length > 1 ? "carousel flickity" : "single-image" }}">
    {% for image in block.images %}
      {% set embeddedAsset = craft.embeddedAssets.get(image) %}
      {% if embeddedAsset %}
        {{ embeddedAsset.html }}
      {% else %}
        <div class="image {{ image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' }}">
          <img src="{{ image.getUrl() }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
