<div class="block-text-with-image user-content {{ block.size }}">
  <div class="-inner">
    {{ block.body | shortcodes }}
    {% for image in block.images.all() %}
      {% set embeddedAsset = craft.embeddedAssets.get(image) %}
      {% if embeddedAsset %}
        {{ embeddedAsset.html }}
      {% else %}
        <div class="image {{ image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' }}">
          <img src="{{ image.getUrl() }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
