{# Static dropdown nav menu #}
{% set nav = [
  {"href": "/news", "name": "News", "image": "news.png" },
  {"href": "/comics", "name": "Comics", "image": "comics.png" },
  {"href": "/links", "name": "Links", "image": "links.png" },
  {"href": "/about", "name": "About", "image": "about.png" },
] %}

{% import _self as navigation %}

{% macro menu_links(items, outside, inside) %}
{% apply spaceless %}
  {% import _self as navigation %}
    {% for item in items %}
      <{{inside}} class="nav-{{ item.name|lower }}{% if item.href in craft.app.request.absoluteUrl %} active{% endif %}">
        <a href="{{ item.href }}"><img src="/assets/images/{{ item.image }}" alt="{{ item.name }}"></a>
      </{{inside}}>
    {% endfor %}
{% endapply %}
{% endmacro %}

<ul class="primary-nav -hover-blocks">
  {{ navigation.menu_links(nav, 'ul', 'li') }}
</ul>
